body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}
body {
    color: #5E5E5E;
    font: 14px/2em Microsoft YaHei,SimSun,Arial;
}
body {
    background: none repeat scroll 0% 0% #EDEFF0;
}
a, input, button {
    outline: medium none;
}
input[type="text"],input[type="password"]{
height: 36px;
line-height: 10px;
}

#main {
padding: 20px 0px !important;
min-height: 750px;
}
.clearfix{*zoom:1;}
.pull-right{
	float:right;
}
.wcontainer {
    width: 1200px;
    margin: 0px auto;
    min-height: 660px;
}
.setting-left {
    width: 262px;
}
.wrap-boxes{
	border:1px solid #e6e8e9;
	border-top: none;
	box-shadow: 0 3px 3px -2px rgba(0,0,0,0.25);
	background: #fff;
}
.setting-left li{
	position: relative;
	border-bottom: 1px solid #e6e8e9;
	margin-bottom: -1px;
}
.setting-left a{
	display: block;
	height: 59px;
	padding-left: 47px;
	line-height: 59px;
	font-size: 14px;
	color: #333;
	border-color: transparent;
	-webkit-transition:color,border-color 0.2s;
	-moz-transition:color,border-color 0.2s;
	-ms-transition:color,border-color 0.2s;
	transition:color,border-color 0.2s;
}
.setting-left a:hover{
	color: #be3948;
}
.setting-left .nav-active a{
	border-left: 2px solid #be3948;
	padding-left: 45px;
}
.setting-right{
	margin-left: 280px;
}
.setting-right-wrap{
	position: relative;
	padding: 30px 60px;
	min-height: 600px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.setting-profile {
    padding: 25px 0px 20px 40px;
}
.pwd-reset-wrap {
    width: 640px;
    margin: 100px auto;
}
.setting-resetpwd{
    margin: 0px;
    padding: 30px 60px 60px 70px;
}

.wlfg-wrap .label-name{
	float: left;
	width: 120px;
	text-align: right;
	height: 40px;
	line-height: 40px;
	color: #656e73;
	font-size: 14px;
}
.wlfg-wrap .rlf-group {
    margin-left: 130px;
}
.rlf-radio-group {
    padding: 7px 0px 0px 7px;
    vertical-align: middle;
}
.setting-resetpwd .rlf-input {
    width: 360px;
}.pwd-reset-wrap .rlf-input {
    width: 360px;
}

.rlf-input {
  width: 200px;
  border: 1px solid #ccc;
  width: 360px;
  height: 40px;
  line-height: 24px;
  padding: 7px 7px 7px 10px;
  font-size: 14px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.2s;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: padding 0.15s;
  -webkit-transition: padding 0.15s;
  -moz-transition: padding 0.15s;
  -o-transition: padding 0.15s;
  border-color: #d0d6d9;
}
.rlf-input:-moz-placeholder {
  color: #d0d6d9;
}
.rlf-input::-moz-placeholder {
  color: #d0d6d9;
}
.rlf-input:-ms-input-placeholder {
  color: #d0d6d9;
}
.rlf-input::-webkit-input-placeholder {
  color: #d0d6d9;
}
.rlf-input.placeholder {
  color: #d0d6d9;
}
.rlf-input:focus {
  border-color: #7bd089;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
}
.rlf-tip-wrap {
    font-size: 12px;
    height: 30px;
}
.rlf-radio-group input {
    display: inline-block;
    vertical-align: middle;
}
.rlf-radio-group label {
    margin-right: 20px;
	
}
.textarea {
    border: 1px solid #D0D6D9;
    width: 904px;
    line-height: 1.6em;
    height:116px;
    font-size: 14px;
    padding: 7px;
    resize: none;
    transition: border-color 0.2s ease 0s;
}
#aboutme{
	border: 1px solid #D0D6D9;
    width:360px;
    line-height: 1.6em;
    font-size: 14px;
    padding: 7px;
    resize: none;
    transition: border-color 0.2s ease 0s;
}
.btn-block {
    display: block;
    width: auto;
}
.rlf-btn-green{
	color: #fff;
	font-size: 14px;
	background-color:#39b94e;
	height: 40px;
	line-height: 40px;
	width: 374px;
	cursor: pointer;
	text-align: center;
	transition:background-color 0.2s;
	-webkit-transition:background-color 0.2s;
	-moz-transition:background-color 0.2s;
	-o-transition:background-color 0.2s;
}
.myspace-list {
    padding: 0px 20px;
    width: 1180px;
    min-height: 1342px;
    margin-bottom: 30px;
}
.myspace-bg {
    background: none repeat scroll 0% 0% #FFF;
    padding-bottom: 20px;
}
.space-tabs-menu {
    overflow: hidden;
    position: relative;
    width: 1100px;
    margin: 0px auto;
}
.space-tabs-menu ul, .space-tabs-menu h2 {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #D0D6D9;
}
.space-tabs-menu li {
    float: left;
    width: 100px;
    height: 50px;
    font-size: 16px;
    position: relative;
}
.space-tabs-menu li a.curr {
    color: #656E73;
}
.space-tabs-menu li a {
    display: block;
    text-align: center;
    line-height: 50px;
    padding-bottom: 5px;
    color: #B4BBBF;
}
.space-tabs-menu li a:hover {
    text-decoration:none;
}
.space-tabs-menu .dot-curr {
    position: absolute;
    width: 100px;
    height: 2px;
    left: 0px;
    bottom: 0px;
    background: none repeat scroll 0% 0% #7E878C;
}

#username_tips,#password_tips,#nickname_tips{
font-size: 12px;
}
.mycourse-list,.mydiscussion-list,.mynote-list{
    overflow: hidden;
    position: relative;
    width: 1100px;
    margin: 0px auto;
}
[class="icon-pencil"],[class="icon-remove"]{
font-size:24px;
}