body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}
body {
    color: #5E5E5E;
    font: 14px/2em Microsoft YaHei,SimSun,Arial;
}
body {
    background: none repeat scroll 0% 0% #EDEFF0;
}
a, input, button {
    outline: medium none;
}
	
#header { 
font-family:'微软雅黑';
background:#2a2c2e;
height:60px
}
#nav {
height: 60px;
margin: 0px auto;
background: none repeat scroll 0% 0% #2A2C2E;
position: relative;
z-index: 99;
}
.container {
width: 1200px;
color: #656E73;
padding-right:0px;
margin: 0px auto;
}

#logo {
width: 100px;
height: 60px;
left: 10px;
top: 0px;
position: absolute;
}
#logo a {
color:#FFF;
display: block;
width: 100px;
height: 60px;
line-height: 60px;
font-size:24px;
}
#nav-item {
margin: 5px 0px 0px 140px;
}
.l {
float: left;
}
ol, ul {
	list-style: none outside none;
}
#nav-item li{ 
	float:left;
	font-size: 14px;
	padding:12px 0
}	
#nav-item a {
color: #B5BDC0;
padding: 0px 35px;
line-height: 21px;
display: block;
}
#login-area {
float: right;
position: relative;
}
.login-btn {
font-family: "微软雅黑";
width: 84px;
height: 34px;
margin-top: 13px;
border-radius: 15px;
text-align: center;

line-height: 30px;
font-size: 14px;
background: none repeat scroll 0% 0% #2A2C2E;
border: 2px solid #C9394A;
text-decoration: none;
color: #C9394A;
cursor: pointer;
}
.register-btn{
font-family: "微软雅黑";
width: 84px;
height: 34px;
margin-top: 13px;
border-radius: 15px;
text-align: center;

line-height: 30px;
font-size: 14px;
background: none repeat scroll 0% 0% #2A2C2E;
border: 2px solid #C9394A;
text-decoration: none;
color: #C9394A;
cursor: pointer;
}
#main {
padding: 20px 0px !important;
min-height: 750px;
}
.course-sidebar {
float: left;
width: 262px;
}
.course-sidebar .course-sidebar-type {
padding: 10px;
width: 240px;
margin-bottom: 20px;
border-right: 1px solid #E6E8E9;
border-width: 0px 1px 1px;
border-style: none solid solid;
border-color: -moz-use-text-color #E6E8E9 #E6E8E9;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
background-color: #FFF;
box-shadow: 0px 1px 2px #D5D7D8;
}
.course-sidebar .course-sidebar-type .course-sidebar-menu {
overflow: hidden;
position: relative;
}
.course-sidebar .course-sidebar-type .course-sidebar-menu .dot-curr {
position: absolute;
width: 120px;
height: 2px;
left: 0px;
bottom: 0px;
background: none repeat scroll 0% 0% #BE3948;
}
.course-sidebar .course-sidebar-type .course-sidebar-tabs {
margin: 0px 10px;
padding: 15px 0px;
overflow: hidden;
border-bottom: 1px solid #EDF0F2;
}
.course-sidebar .course-sidebar-type .course-sidebar-tabs li {
width: 73px;
float: left;
line-height: 30px;
font-size: 12px;
}
.course-sidebar .course-sidebar-type .course-sidebar-tabs li a:hover, .course-sidebar .course-sidebar-type .course-sidebar-tabs li a.curr {
background: none repeat scroll 0% 0% #BE3948;
color: #FFF;
}
.course-sidebar .course-sidebar-type .course-sidebar-tabs li a {
display: block;
text-align: center;
cursor: pointer;
transition: all 0.6s ease 0s;
}
.course-sidebar .course-sidebar-type .course-sidebar-tabs li a {
display: block;
text-align: center;
cursor: pointer;
transition: all 0.6s ease 0s;
}

.course-sidebar .focus {
border: 1px solid #2EA7E0;
}
.course-sidebar .course-sidebar-search {
position: relative;
height: 38px;
width: 240px;
margin-bottom: 20px;
border-right: 1px solid #E6E8E9;
border-width: 1px;
border-style: solid;
border-color: #FFF #E6E8E9 #E6E8E9;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
background-color: #FFF;
box-shadow: 0px 1px 2px #D5D7D8;
}
.course-sidebar .course-sidebar-search input {
padding: 10px;
width: 180px;
line-height: 18px;
font-size: 12px;
float: left;
border: 0px none;
}
.course-sidebar .focus .btn_search {
background-position: left bottom;
}
.course-sidebar .course-sidebar-search .btn_search {
float: right;
width: 38px;
height: 38px;
}
.course-sidebar .course-sidebar-search .course-sidebar-result {
position: absolute;
left: -1px;
top: 39px;
width: 260px;
margin-bottom: 20px;
border-right: 1px solid #E6E8E9;
border-width: 1px;
border-style: solid;
border-color: #D5D7D8 #E6E8E9 #E6E8E9;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
box-shadow: 0px 1px 2px #D5D7D8;
background: none repeat scroll 0% 0% #FFF;
overflow: hidden;
display: none;
font-size: 12px;
}
.course-content {
	float: right;
	position: relative;
	width: 920px;
	min-height: 720px;
	background: none repeat scroll 0% 0% #FFF;
}
.course-content .course-tools {
height: 50px;
background: none repeat scroll 0% 0% #FFF;
padding: 0px 20px;
width: 880px;
}
.course-content .course-tools h2 {
padding: 10px 0px;
line-height: 29px;
color: #99A1A6;
font-size: 14px;
border-bottom: 1px solid #EDF0F2;
}
.course-content .course-tools .dot-tool-curr {
position: absolute;
width: 60px;
height: 2px;
right: 80px;
top: 48px;
background: none repeat scroll 0% 0% #7E878C;
}
.course-content .course-list {
padding: 20px 10px;
overflow: hidden;
position: relative;
min-height: 500px;
}